body {
  color: #007ba7;
  font-family: "Nunito", sans-serif;
}

h1,
#designed-by {
  text-align: center;
}

.style1 {
  background-color: #531253;
}

.style2 {
  background-color: #d8e2dc;
}

.style3 {
  background-color: #d62246;
}

.style4 {
  background-color: #809bce;
}

.style5 {
  background-color: #3a0ca3;
}

.style6 {
  background-color: #ffd60a;
}

/* SETTING THE COLOR OF THE BOX TEXT */
.tiles .box-wrapper > a {
  color: white;
}
